[Unit]
Description=Dmenu Keepass Service
 
[Service]
Type=simple
ExecStart=/path/to/dmenukeepass_daemon
User=<username>
Group=<group>
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
